*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --main-color:#030318;
    --backgrond-color:#0a0a23;
    --targets:#008EFF;
}

html{
    font-size:62.5%;
}

body{
    width:100%;
    margin:0%;
    font-family: 'Open Sans', sans-serif;
    background:var(--);
    color:#f5f5f5;
    overflow-x:hidden;
}

body img{
    width:1rem;
    height:1rem;
}

/*---------------------------------------------------------
HEADER
----------------------------------------------------------*/
header{
    background:url(https://cdn.pixabay.com/photo/2013/07/18/15/09/death-164761_960_720.jpg);
    background-repeat:no-repeat;
    background-size:100% 110%;
    background-position:center;
}

#NavBar-Principal{
    background:var(--main-color);
    height:8rem;
    margin-top:-.5rem;
}

#NavBar-Principal{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}

#NavBar-Principal img{
    margin-right:1rem;
    width:3rem;
    height:3rem;
    object-fit:cover;
}

#NavBar-Principal a{
 color:#f5f5f5;
 font-size:2rem;
}


#navbarText{
    grid-column:-1;
}

.hero{
    display:flex;
    flex-direction:row;
    padding:0rem 1rem;
}


#logo{
    margin-left:1rem;
    font-size:2.5rem;
    color:#f5f5f5;
}

#logo img{
    width:5rem;
    height:5rem;
    margin-right:1rem;
}

#navbarText{
    grid-column: -1;
    margin-right:1rem;
    font-size:2rem;
}

#navbarText a{
    color:#f5f5f5;
}
/*-------------------------------------------------------*/

.secondSection-Header{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    color:#f5f5f5;
}

.cabecera-block--index{
    width:50%;
    height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    font-size:2rem;
}

.fotoDePerfil{
    width:15rem;
    height:15rem;
    object-fit:cover;
}

.presentacion p{
    font-size:2.5rem;
}

.redesSociales{
    width:50%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.redesSociales ul{
    list-style:none;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.redesSociales a{
    margin-right:2rem;
}

.redesSociales img{
    width:5rem;
    height:5rem;
}

/*----------------------------------------------------------
  M A I N | STACK DE TECNOLOGIAS
-------------------------------------------------------------*/
.principal{
    background:var(--backgrond-color);
    padding:3rem;
}

.principal h1{
    text-align:center;
    font-size:3rem;
}

.principal p{
    font-size:2rem;
    text-align:center;
}

.containerPrincipalStack{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:3rem;
}

.containerPrincipalStack div{
    margin:2rem;
    width:20rem;
    background:var(--main-color);
}

.containerPrincipalStack .card-body{
    height:1rem;
    width:80%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.containerPrincipalStack img{
    height:10rem;
    object-fit:cover;
}

.containerPrincipalStack p{
    color:#f5f5f5;
    font-size:2rem;
}




/*---------------------------------------------------------
FOOTER COMPONENT
----------------------------------------------------------*/
footer{
    font-size:2rem;
    height:auto;
    background:var(--targets);
}

.titleFooter{
    text-align:center;

}

.contactFooter{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:0rem 3rem;
    height:10rem;
}

.contactFooter p{
    margin-right:4rem;
}

.contactFooter img{
    width:5rem;
    height:5rem;
}