*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --main-color:#030318;
    --backgrond-color:#0a0a23;
    --targets:#008EFF;
}

html{
    font-size:62.5%;
}

body{
    width:100%;
    margin:0%;
    font-family: 'Open Sans', sans-serif;
    background:var(--backgrond-color);
    color:#f5f5f5;
    overflow-x:hidden;
}

body img{
    width:1rem;
    height:1rem;
}
