*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --main-color:#030318;
    --backgrond-color:#0a0a23;
    --targets:#008EFF;
}

html{
    font-size:62.5%;
}

body{
    width:100%;
    margin:0%;
    font-family: 'Open Sans', sans-serif;
    background:var(--backgrond-color);
    color:#f5f5f5;
    overflow-x:hidden;
}

/*------------------------------------------------------
H E A D E R  CABECERA PAGINA INDEX
-------------------------------------------------------*/
.cabecera{
    width:100vw;
}

.cabecera-block--index{
    background:purple;
}

.imgPortada{
    width:100vw;
    height:20vh;
    object-fit:cover;
}

.presentacion{
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items: center;
    font-size:2rem;
    text-align:center;
    padding:1rem;
}

.fotoDePerfil{
    margin-top:-8rem;
    width:14rem;
    height:14rem;
    border-radius:50%;
    object-fit: cover;
}

/*------------------------------------------------------
N A V  | P R I N C I P A L - Botstrap
-------------------------------------------------------*/
#NavBar-Principal{
    background-color:red;
    border-bottom:.1rem solid #f5f5f5;
}

#NavBar-Principal a{
    color:#ffffff;
    font-size:1.8rem;
}

#NavBar-Principal span{
    color:#ffffff;
    font-size:3rem;
    text-transform:bold;
}

#NavBar-Principal img{
    width:3rem;
    margin:2.5vh 0rem;
    height:auto;
    margin-right:1rem;
}



/*------------------------------------------------------
N A V E G A C I O N | S O C I A L 
-------------------------------------------------------*/

.redesSociales li{
    list-style:none;
}

.redesSociales a{
    text-decoration:none;
    padding:1rem; 
}

.redesSociales ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
    margin:2rem 3rem;
    border-radius:2rem;
    background:#f5f5f5;
}
.redesSociales a{
    background:none;
}

.redesSociales img{
    width:3.5rem;
    height:4rem;
    object-fit:contain;
}


/*-----------------------------------------------------------
  M A I N | STACK DE TECNOLOGIAS
------------------------------------------------------------*/

section {
    width:100%;
    padding:1rem;
    font-size:1.2rem;
    background:green;
}

h1{
    text-align:center;
    margin-bottom:1rem;
}

.bio{
    font-size:1.5rem;
    text-align:center;
    margin:2rem;
}

/*IMAGENES DEL STACK*/
.containerPrincipalStack{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
}

.containerStack{
    width:15rem;
    height:10rem;
    margin:3rem 0rem;
}

.containerImgStack{
    width:100%;
    height:100%;
}

.containerStack img{
    object-fit:fill;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    border-radius:1rem;
}

.containerStack p{
    padding:.5rem;
    margin-top:.3rem;
    border-radius:.5rem;
    background:var(--main-color)
}


/*-----------------------------------------------------------
S E C T I O N | < P R O Y E C T O S >
------------------------------------------------------------*/
.container--Main-Proyects{
    padding:.4rem;
}

.container--Proyect{
    height:auto;
    border-radius:1rem;
    padding:2rem 1rem;
    margin-bottom:2rem;
    background:#f5f5f5;
    border:solid .1rem var(--main-color);
    color:#000;
}

.descripcionProyect{
    font-size:2rem;
}

.adaptabilidadProyect{
    font-size:2rem;
}

.container--Proyect-Img{
    width:100%;
    height:50%;
}

.container--Proyect img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.container--Proyect-Techs{
    height:auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    margin-bottom:1rem;
}

.atomicComponent{
    background:var(--main-color);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    border-radius:1rem;
    width:10rem;
    height:4rem;
    margin:1rem;
}

.atomicComponent p{
    margin-right:1rem;
    align-self:center;
    margin-top:1rem;
    color:#f5f5f5;
}



.container--Proyect-Techs img{
    width:3rem;
    height:3rem;
    border-radius:50%;
    object-fit:contain;
    background:#f5f5f5;
}

.linkProyect{
    background:var(--main-color);
    padding:1rem 4rem;
    font-size:2rem;
    margin-top:1rem;
    color:#f5f5f5;
    text-decoration:none;
}
/*-----------------------------------------------------------
  F O O T E R |
------------------------------------------------------------*/
footer{
    padding:1rem;
    background:var(--main-color);
}

footer article{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding:1rem;
}

.contactFooter p{
    width:80%;
    font-size:1.4rem;
    text-align:justify;
}

.titleFooter{
    font-size:1.5rem;
    margin-bottom:.3rem;
    text-align:center;
    margin-bottom:1rem;
}


.imgWs{
    width:4rem;
    height:4rem;
}
