*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --main-color:#030318;
    --backgrond-color:#0a0a23;
    --targets:#008EFF;
    --relevante:#00F8E6;
    --titulares:'Mochiy Pop P One', sans-serif;
}

html{
    font-size:62.5%;
}

body{
    width:100%;
    font-family: 'Open Sans', sans-serif;
    background:var(--backgrond-color)  !important ;
    color:#f5f5f5;
    overflow-x:hidden;
}

 body img{
    width:10rem;
    height:10rem;
} 







@media(min-width:800px){
body{
    position: relative;
    min-height:100vh;
    padding-bottom:10rem;
}
    
/*---------------------------------------------------------
HEADER COMPONENT DESKTOP 
----------------------------------------------------------*/
#NavBar-Principal{
    background:var(--main-color);
    height:8rem;
    margin-top:-.5rem;
}

#NavBar-Principal{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}

#NavBar-Principal img{
    margin-right:1rem;
    width:3rem;
    height:3rem;
    object-fit:cover;
}

#NavBar-Principal a{
    color:#f5f5f5;
    font-size:2rem;
}

#NavBar-Principal a:hover{
    border-bottom:.3rem solid #00F8E6;
}


#navbarText{
    grid-column:-1;
}

#notasdev{
    margin-bottom:.5rem;
    width:5rem;
    height:5rem;
}

.hero{
    display:flex;
    flex-direction:row;
    padding:0rem 1rem;
}


#logo{
    margin-left:1rem;
    font-size:2.5rem;
    color:#f5f5f5;
}

#logo img{
    width:5rem;
    height:5rem;
    margin-right:1rem;
}

#navbarText{
    grid-column: -2;
    margin-right:1rem;
    font-size:2rem;
}

#navbarText a{
    color:#f5f5f5;
}

/*---------------------------------------------------------
PRINCIPAL COMPONENT DESKTOP
----------------------------------------------------------*/
.principal {
    color:white;
    display:flex;
    flex-direction:column;
}
.principal .titleComp{
    color:white;
    text-align:center;
    font-family:var(--titulares);
    margin-top:1rem;
}

/* INCIO Estilos Menu Hamburguesa Escritorio*/
.menuBurger{
    margin:0rem 0rem;
}

.menuBurger ul{
    background:var(--main-color);
    border-radius:2rem;
    font-size:3rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;

}



.menuBurger li{
    list-style:none;
    margin:1rem 0rem;
    display:block;
}

.menuBurger a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    padding:1rem 30rem;
    border-radius:.5rem;
}

.menuBurger a:hover{
    color:purple;
    font-size:3.2rem;
}

.imgBurgerMenu{
    width:5rem;
    height:5rem;
}

.btnShowMenu{
    font-size:2rem;
    padding:.5rem;
    align-self:flex-end;
    margin-left:1rem;
    border:none;
    border-radius:.5rem;
    color:white;
    font-weight:bold;
}

.barNav{
    position:fixed;
    top:1rem;
    right:0rem;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:flex-end;
}
/*FIN Estilos Menu Hamburguesa Escritorio*/

/*Otros estilos*/
.dProyect{
    font-size:2.5rem;
    text-align:left;
    margin:2rem 8rem 3rem 3rem;
}

.containPage article{
    background:purple;
    margin:1rem 3rem;
    padding:1rem 10rem 100rem 10rem;
}

#seccion1{
    background:darkred;
}

#seccion2{
    background:hotpink;
}


#seccion3{
    background:indigo;
}


.containPage b{
    font-size:10rem;
}

.containPage p{
    font-size:3rem;
    text-align:center;
    color:white;
    margin-bottom:5rem;
    font-size:4rem;
}

.containPage a{
    background:var(--main-color);
    font-size:5rem;
    color:white;
    text-decoration:none;
    padding:2rem;
    border-radius:1rem;
    border:dashed .1rem var(--relevante);
}


/*---------------------------------------------------------
FOOTER COMPONENT DESKTOP
----------------------------------------------------------*/
#contactFooter{
    background:var(--main-color);
    height:10rem;
    padding:1rem;
    font-size:2rem;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:100vw;
    position:absolute;
    bottom:0;
}

#contactFooter a{
    color:white;
    font-weight:bold;
    text-decoration:none;
}

#contactFooter p{
    color:white;
}

#imgSocial{
    display:flex;
    margin-right:2rem;
}

#contactFooter img{
    width:2.5rem;
    height:2.5rem;
    margin-right:.5rem;
}

}

/*******************************************************
Querys CSS para Celulares
********************************************************/
@media (max-width:800px) {
/*---------------------------------------------------------
HEADER - MOBIL
----------------------------------------------------------*/
#NavBar-Principal{
    background:var(--main-color);
    padding:2rem 1rem;
}

#NavBar-Principal a{
    color:#f5f5f5;
    font-size:2rem;
}

#NavBar-Principal img{
    width:3rem;
    height:3rem;
    margin-right:1rem;
    object-fit:cover;
}

#notasdev{
    margin-bottom:.5rem;
}

#botonNav{
    background:#f5f5f5;
}

.presentacion{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    padding:2rem;
    text-align:center;
}

.nombre{
    font-size:2.3rem;
}

.presentacion{
    font-size:1.8rem;
}

.fotoDePerfil{
    width:10rem;
    height:10rem;
    object-fit: cover;
    border-radius:1rem;
    margin-bottom:1rem;
}

.redesSociales{
    margin-bottom:3rem;
}

.redesSociales ul{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.redesSociales li{
    list-style:none;
}

.redesSociales a{
    margin-right:1rem;
}

.redesSociales img{
    width:4rem;
    height:4rem;
}
    
/*---------------------------------------------------------
P R I N C I P A L - M O B I L E
----------------------------------------------------------*/
.principal{
    color:white;
}

.titleComp{
    text-align:center;
    font-size:2.5rem;
    margin:1rem;
}

.dProyect{
    font-size:1.6rem;
    text-align:left;
    margin:1rem;
}

/*Estilos :::mobile::: del boton tipo hamburguesa*/
.barNav{
    background:none;
    padding:none;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    position:sticky;
    top:0;
}

.btnShowMenu{
    width:5rem;
    height:5rem;
    border-radius:.5rem;
    padding:1rem;
}

.btnShowMenu img{
    width:100%;
    height:100%;
}

.menu{
    background:var(--main-color);
    width:100vw;
    padding:1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.menu li{
    list-style:none;
    margin:2rem 0rem;
    text-align:center;
}

.menu a{
    color:white;
    font-size:3rem;
    background:var(--main-color);
    padding:2rem 5rem;
    text-decoration:none;
    border-radius:1rem;
}
/*Estilos :::mobile::: del boton tipo hamburguesa*/

.containPage b{
    color:white;
    font-size:4rem;
    text-align:right;
}

.containPage p{
    color:white;
    text-align:right;
    font-size:2rem;
}

.containPage a{
    background:var(--main-color);
    border:dashed .1rem var(--relevante);
    padding:1rem;
    font-size:1.6rem;
    color:aliceblue;
    text-decoration:none;
}

.containPage article{
    background:red;
    padding:1rem 1rem 50rem 1rem;
    margin:1rem 0rem;
}

#seccion1{
    background:darkred;
}

#seccion2{
    background:hotpink;
}


#seccion3{
    background:indigo;
}



/*---------------------------------------------------------
FOOTER COMPONENT - M O B I L E
----------------------------------------------------------*/
@media (max-width:800px) {
#contactFooter{
    background:var(--main-color);
    padding:1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    text-align:center;
    color:white;
}

#contactFooter div{
    margin-bottom:1rem;
}

#contactFooter a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

#imgSocial{
    display:flex;
}


#imgSocial img {
    width:2.5rem;
    height:2.5rem;
    margin-right:.5rem;
}
        
}
}